<html>
<head>
    <title>Chat WebSocket</title>
</head>
<body onload="disconnect()">
<div>
    <div>
        <input type="text" id="from" placeholder="Choose a nickname"/>
    </div>
    <br />
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">
            Disconnect
        </button>
    </div>
    <br />
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
    <input id="idRequest" type="text">
    <input id="idOperator" type="text">
    <button type="button" onclick="sendNotification()">notify</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script type="text/javascript">
    var stompClient = null;
    var sessionID;

    var source = new EventSource("/web/stream-sse-mvc");
    source.addEventListener('message',event =>{
        console.log(event.data)
    })
    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility
            = connected ? 'visible' : 'hidden';
        document.getElementById('response').innerHTML = '';
    }

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            setConnected(true);
            console.log('Connected: ' + frame);

            var url = stompClient.ws._transport.url;
            url = url.slice(url.indexOf("/ws")+"/ws/".length, url.indexOf("/websocket"))
            url = url.replace("/websocket", "");
            url = url.replace(/^[0-9]+\//, "");
            sessionID = url;
            console.log("Your current session is: " + url);
            var from = document.getElementById('from').value;

            stompClient.subscribe('/topic/messages', function(messageOutput) {
                showMessageOutput(JSON.parse(messageOutput.body));
            });
            stompClient.subscribe('/topic/response/12', function(messageOutput) {
                console.log(messageOutput.body)
            });
            stompClient.subscribe('/user/'+from+'/specific-user/'+sessionID,(message)=>{
                console.log("private ",message)
            });
        });
    }

    function disconnect() {
        if(stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
        console.log("Disconnected");
    }

    function sendMessage() {
        var from = document.getElementById('from').value;
        var text = document.getElementById('text').value;
        stompClient.send("/app/chat", {},
            JSON.stringify({'from':from, 'message':text}));

        stompClient.send("/app/sngl-chat",{},
            JSON.stringify({'from':from, 'message':text}));
    }

    function showMessageOutput(messageOutput) {
        var response = document.getElementById('response');
        var p = document.createElement('p');
        p.appendChild(document.createTextNode(messageOutput.from + ": "
            + messageOutput.message + " (" + messageOutput.date + ")"));
        response.appendChild(p);
    }

    function sendNotification(){
        var idReq = document.getElementById('idRequest').value;
        var idOper = document.getElementById('idOperator').value;
        stompClient.send("/app/chat/"+idReq+"/"+idOper, {});
    }
</script>
</body>
</html>